dependencies:
    - OpenZeppelin/openzeppelin-contracts@4.5.0
    - smartcontractkit/chainlink-brownie-contracts@0.4.0
compiler:
    solc:
        remappings:
            - "@openzeppelin=OpenZeppelin/openzeppelin-contracts@4.5.0"
            - "@chainlink=smartcontractkit/chainlink-brownie-contracts@0.4.0"
dotenv: .env
networks:
    development:
        key_hash: "0xd89b2bf150e3b9e13446986e571fb9cab24b13cea0a43ea20a6049a85cc807cc"
        fee: 100000000000000000
    rinkeby:
        vrf_coordinator: "0xb3dCcb4Cf7a26f6cf6B120Cf5A73875B7BBc655B"
        link_token: "0x01BE23585060835E02B77ef475b0Cc51aA1e0709"
        key_hash: "0x2ed0feb3e7fd2022120aa84fab1945545a9f2ffc9076fd6156fa96eaff4c1311"
        fee: 100000000000000000 # 0.1 LINK
        verify: True
wallets:
    from_key: ${PRIVATE_KEY}
